@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #5b5853;
  --bg: linear-gradient(to right, #27e163, #22e1da);
  --text-hover: #fff;
  --bg-hover: linear-gradient(to right, #d42b45, #911a80);
}

@layer base {
  @font-face {
    font-family: "Aquire";
    src: url("fonts/Aquire-BW0ox.otf") format("opentype");
  }

  @font-face {
    font-family: "Aquire Light";
    src: url("fonts/AquireLight-YzE0o.otf") format("opentype");
  }

  @font-face {
    font-family: "Gepestev";
    src: url("fonts/Gepestev-nRJgO.ttf") format("truetype");
  }
}

.font-gep {
  font-family: "Gepestev", serif;
}

.font-aquire {
  font-family: "Aquire", serif;
}

.font-aquire-light {
  font-family: "Aquire Light", serif;
}

@layer components {
  body {
    @apply font-gep bg-gray-100;
  }

  .flex-center {
    @apply flex justify-center items-center gap-4;
  }

  .flex-start {
    @apply flex justify-center items-start gap-4;
  }

  .hw-full {
    @apply h-full w-full;
  }

  .container {
    @apply px-2 py-2.5 mx-auto;
  }

  .section {
    @apply h-[100vh] w-full relative z-[0] flex-center;
  }

  .hero-layer {
    @apply hw-full absolute top-0 left-0;
  }

  .btn {
    white-space: nowrap;
    @apply cursor-pointer text-base font-[500] rounded-md p-2 px-4;
    @apply hover:shadow-lg;
    @apply focus:ring-0 focus:outline-none;
  }

  .btn--primary {
    color: var(--text);
    background: var(--bg);
    @apply border-none font-bold;
    @apply hover:text-[--text-hover];
  }

  .btn--secondary {
    background: var(--bg);
    -webkit-background-clip: text;
    color: transparent;
    @apply border border-gray-300 font-bold;
  }

  .menu a,
  .menu button {
    transition: all 0.25s;
    @apply text-3xl text-black font-aquire;
    @apply hover:text-[--text-hover];
  }

  .dropdown a,
  .dropdown button {
    @apply text-2xl font-gep;
  }

  .card {
    @apply p-8 rounded-lg shadow bg-white;
  }
}

/* Section 1 */
video {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 177.77777778vh;
  /* 100 * 16 / 9 */
  max-width: unset;
  min-width: 100%;
  min-height: 56.25vw;
  /* 100 * 9 / 16 */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.05);
  transition: all 0.15s;
}

.ctn-overlay {
  background: rgba(255, 255, 255, 0.5);
}

.ctn-overlay > div {
  color: transparent;
  opacity: 0.3;
  /*outline: 1px solid salmon;*/
  background: rgba(255, 255, 255, 0.7);
}

.title-gradient {
  background: var(--bg);
  -webkit-background-clip: text;
  color: transparent;
}
.fp-watermark {
  display: none;
}
